html {
  font-family: Dekko;
}

ul {
  padding: 0;
}

ul li {
  list-style: none outside none;
}

.film-zwiastuny {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reportaż-opisy {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.reportaż-linki {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.reklama-opisy {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.reklama-linki {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.teledysk-opisy {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.teledysk-linki {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.main-nav ul {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.main-nav ul li {
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.youtube-video {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.layout {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.layout > section {
  padding: 20px;
}

.filmpolski {
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  width: 200px;
  display: block;
  margin: 20px auto;
}
