html {
    font-family: Dekko-Regular;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav ul {
    display: flex;
    gap: 40px;
}

.main-nav ul li {
    list-style: none outside none;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.youtube-video {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    gap: 20px;
}
